
body{
  margin:0px;
  padding:0px;
  position:relative;
  overflow-x: hidden;
  font-family: 'Urbanist', sans-serif;
}
a{
  text-decoration: none;
}

a:hover{
  opacity: 0.5;

}
/*nav*/
#nav{
  background-color: #80A999;
  display:block;
  position:relative;
  overflow: hidden;
}
#nav-items{
  display:flex;
  padding-left: 100px;
  padding-right: 50px;
  transition: background-color 0.5s ease-in;
}

#nav-items.scroll {
  /*background-color: #62827C;*/
  background-color: #80A999;
  color: #eef;
  width:100%;
  position:fixed;
  z-index:1000;
}
.navlogo{
  width:4em;
}

.link{
  padding-top: 40px;
  display:flex;
}

.linkitem{
  padding-left:10px;
  color:white;
}
#nav h1{
  color:white;
  padding-left:120px;
  padding-top:30px;
  padding-bottom:80px;
  font-size: 2.5em;
}

@media screen and (max-width: 1000px) {
  #nav h1{
    font-size: 2em;
  }
}
@media screen and (max-width: 800px) {
  #nav h1{
    font-size: 1.5em;
    padding-left: 75px;
  }
  #nav-items{
    padding-left: 50px;
  }
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index:0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 153px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}


/*content*/
#content{
  padding-top: 100px;
  min-width: 900px;
  color:#555F63;
  line-height: 2em;
  display: block;

}
.paragraph1, .paragraph2, .paragraph3{
  display:flex;
}

#content p{
  width: 800px;
  font-size: 1.2em;
}

#content img:hover{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/*left is 300px*/
.paragraph1{
  margin-right:180px;
}
.paragraph1 img{
  width:250px;
  height:210px;
  margin-left: 100px;
}
.paragraph2{
  margin-left:350px;
}

.paragraph2 img{
  width:140px;
  padding-left: 20px;
  padding-right: 20px;
  height:150px;
}

.paragraph3{
  margin-left:150px;
  margin-right: 180px;
}
.paragraph3 img{
  height:200px;
  width:200px;
}

.highlight-word{
  font-weight: bolder;
}

.check-link{
  color:#62827C;
  font-weight:bolder;
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #CCD7B9 40%);

}
@media screen and (max-width: 800px) {
  .paragraph1, .paragraph2, .paragraph3{
    display:block;
    margin-left: 0px;
  }
  #content p{
    width:500px;
    margin-left: 100px;
  }
  #content img{
    margin-left: 150px;
  }


}
@media screen and (max-width: 600px) {
  .paragraph1, .paragraph2, .paragraph3{
    display:block;
    margin-left: 0px;
  }
  #content p{
    width:300px;
    margin-left: 100px;
  }

  #content img{
    margin-left: 150px;
  }

}


/*footer section*/
.footer{
  margin: 10% 10% 1% 10%;
  align-items: center;
  display:flex;
  justify-content: center;
  position:relative;

}

.footer img{
  width:50%;
  display: inline-block;
}

.text{
  display:inline-block;
  text-align: center;
  width:40%;
  font-size: 1.3rem;
}

.text a{
  font-style: italic;
  color:#767676;
}
@media only screen and (max-width: 1000px){
  .text{
    font-size: 1rem;
  }

}
