body{
    margin:0px;
    padding:0px;
    background-color: white;

}

section{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

a{
    text-decoration: none;
    color:white;
    font-family: 'Noto Serif JP', serif;
  }

a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-decoration-color: #B7CB95;
    color:white;

}

/*wave1*/
.wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 144px;
}

.wave1 .shape-fill {
    fill: #618E7D;
}

/*wave 2*/
.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 156px;
}

.wave2 .shape-fill {
    fill: #618E7D;
}


#main{
    padding: 0px;
    width:100%;
    background:linear-gradient(180deg, #7FA999 37.94%, rgba(145, 174, 146, 0.494407) 63.03%, rgba(237, 253, 237, 0.494407) 97.13%);
    height:100%;
}
#block{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
    color:white;
}
.nav{
  display:block;
  width:100%;
  margin-top: 100px;
  z-index: 1000;
}

#navbar{
    display:flex;
    padding-left: 75%;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;

}
.nav-logo{
    width: 4em;
}

.nav-item{
    font-size: 1.2em;
}

/*second part introduction part*/
#intro{
    padding-top: 100px;
    padding-bottom:100px;
    background:#618E7D;
    display:flex;
}
.introduction{
  float:left;
  display:flex;
}

@media screen and (max-width: 1000px) {
  .introduction{
    display:block;
  }
  #navbar{
    padding-left: 60%;
  }
  .nav{
    margin-top: 25px;

  }
}

.portrait{
  border-radius:8px;
  width:480px;
  height:580px;
  margin-right:50px;
  margin-top:50px;
}
.content{
  color:white;
  margin-left: 30px;
  line-height: 2em; 
}
.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 70%, #B7CB95 30%);
}

.content h1{
  font-size: 2em;
}
.intro_text{
  display:block;
  width:550px;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2em;
}
.link{
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness:0.2em;
}
.type{
  font-weight:900;
}
.button{
  width:180px;
  height:30px;
  font-size: 1em;
  border-radius: 5px;
  border-width: medium;
  color:white;
  background-color: transparent;
  border: solid white;
}
.button:hover{
  background-color: #B7CB95;
  border:none;
}

@media screen and (min-width: 1000px) {
  .portrait{
    margin-right: 10px;
  }
  .intro_text{
    margin-left: 0px;
    width:500px;
  }

}

@media screen and (max-width: 600px) {
  .portrait{
    width:240px;
    height:240px;
    padding-left:30px;
  }
  .content{
    font-size: 0.7em;
  }
  .intro_text{
    width:300px;
  }

}

/*third part project part*/
#project{
    padding-top:100px;
    min-height:900px;
    overflow:hidden;


}

.project{
  margin-left: 100px;
  margin-right:100px;
  background-color: #DBEADB;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding:50px;
  display:flex;
}


.project h1{
  font-size: 2.5em;
}
.project p{
  font-size: 1.2em;
  font-family:sans-serif;
}

.project-intro{
  margin-top:30px;
}
.project img{
  width:50%;
  transition: all .2s ease-in-out;
}

/*.project:nth-child(odd) img{
  order:2;
}*/

.project img:hover{
  transform: scale(1.1);
}

.check-project{
  width:180px;
  height:45px;
  font-size: 1.2em;
  border-radius: 5px;
  color:white;
  font-family:sans-serif;
  border: none;
  background-color: #62827C;
  transition: background-color 0.5s ease;
}

.check-project:hover{
  background-color: #628F5F;

}

.tag1{
  background-color:#F7FDD3;
  border-radius: 5px;
}

.tag2{
  background-color: #FAECCC;
    border-radius: 5px;
}

.tag3{
  background-color: #FAE3DE;
    border-radius: 5px;
}


@media screen and (max-width: 1200px) {
  .project{
    display:block;
  }
  .project img{
    width:100%;
  }
  .project h1{
    font-size: 2em;
  }


}

/*fourth part footer*/
#footer{
  text-align: center;
    padding-top:20px;
}

.copyright{
  text-align: center;
  font-weight: 100;
}

.fa {
  padding: 20px;
  width: 1em;
  text-decoration: none;
  color: #1d1d1d;
}
.fa:hover {
  color:#62827C;
}


/*animation*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*fade in*/
.fadeIn {
    -webkit-animation-name: fadeIn;
	  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
