/*main page*/
.container {
  display: flex;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  height: 100%;
  padding-left: 8em;
}
@media screen and (min-width: 500px) {
  .container {
    flex-direction:row;
  }
}

#animation {
  width: 60%;
  height: 60%;
  margin: 2em auto 0;
}
@media screen and (min-width: 800px) {
  #animation {
    height: 50%;
  }

}

header {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding-left: 80px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay:1s;
  animation-delay: 1s;
}


.text p {
    color:white;
    font-size: 3em;
    font-weight: 900;
    display: inline-block;
    vertical-align: top;
    margin: 0;

  }

  @media screen and (max-width: 800px) {
    .text p {
      font-size: 2em;

    }
    .container{
      display:block;
    }
    header{
      padding-left: 0px;
    }

  }

  .word {
    position: absolute;
    width: 200px;
    opacity: 0;
  }

  .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }

  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .letter.behind {
    transform: rotateX(-90deg);
  }

  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .color1 {
    color: #fffad5;
  }

  .color2 {
    color: #eeffd2;
  }

  .color3 {
    color: #62827C;
  }


  .quote{
    font-size: 1.5em;
    color:white;
    margin-right: 100px;

  }
  @media screen and (max-width: 800px) {
    .quote{
      font-size: 1.5em;
      padding-bottom: 100px;
      margin-right: 120px;
    }

  }

  @media screen and (max-width: 1000px) {
    .quote{
      font-size: 1em;
      padding-bottom: 100px;
      margin-right: 120px;
      color:#62827C;
    }

  }
